.details>div {
	position: relative;
}

img.multipleCommitters {
	position: absolute;
	height: 100%;
	opacity: 0.15;
}

img.detailsButton {
	cursor: pointer;
	width: 12px;
	height: 12px;
	margin-right: 1px;
	margin-left: 1px;
}

.easyLink img {
	margin-left: 3px;
	top: 0px;
	width: 10px;
	height: 10px;
}

th.customColumn {
	width: 1px;
}

body.loading {
	cursor: wait;
}

#DescriptionDashboard {
	width: 100%;
	height: 100%;
	background-color: white;
}

#DescriptionDashboard.inFullScreen {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10000;
}

#DescriptionDashboard table th {
	text-align: left;
}

.cell a.status {
	float: left;
	margin-top: 3px;
	margin-right: 5px;
}

.cell .labels {
	float: left;
}

.cell .labels .failureLabel {
	display: block;
}

.change {
	border-bottom: 1px solid black;
}

.change:nth-last-child(1) {
	border-bottom: 1px solid transparent;
}

.change .changedFiles {
	padding-left: 0;
	margin-left: 15px;
	margin-top: 0;
}

.extra-details {
	width: 100%;
	background-color: white;
}
.extra-details td {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.extra-details:hover {
	background-color: transparent !important;
}

.hidden {
	display: none;
}

th#details {
	width: 120px;
}

/*td.not-started,*/
/*td.cell {*/
	/*text-align: center;*/
/*}*/

.row.passed {
	background-color: #CFC !important;
}

.row.passed:hover {
	background-color: #BEB !important;
}

.row.expanded,
.row.expanded:hover {
	background-color: #F0F0F0;
	font-weight: bold;
}


.hasLastSuccess tr:nth-child(2) {
	/*background-color: red !important;*/
	border-style: double;
	border-bottom-width: 3px;
}

.hasLastSuccess tr:nth-child(3) {
	display: none;
}

tr.selected {
	background-image: -webkit-linear-gradient(left, #ffd8d8 0%, #ffffff 50%, #ffd8d8 100%);
	background-image: -moz-linear-gradient(left, #ffd8d8 0%, #ffffff 50%, #ffd8d8 100%);
}

tr.selected:hover {
	background-image: -webkit-linear-gradient(left, #ffb0b0 0%, #fee 50%, #ffb0b0 100%);
	background-image: -moz-linear-gradient(left, #ffb0b0 0%, #fee 50%, #ffb0b0 100%);
}

img {
	background-repeat: no-repeat;
	background-size: 100%;
}

.running img.status {
	-webkit-animation: pulse 1s infinite normal;
	-moz-animation: pulseFF 1s infinite normal;
}

.details .date {
	font-size: .75em;
}

@-moz-keyframes pulseFF {
      0% {opacity: 0.2;}
     10% {opacity: 0.4;}
     20% {opacity: 0.7;}
     30% {opacity: 0.8;}
     40% {opacity: 0.9;}
     50% {opacity: 1.0;}
     60% {opacity: 0.9;}
     70% {opacity: 0.8;}
     80% {opacity: 0.7;}
     90% {opacity: 0.4;}
    100% {opacity: 0.2;}
}

@-webkit-keyframes pulse {
      0% {opacity: 0.2;}
     10% {opacity: 0.4;}
     20% {opacity: 0.7;}
     30% {opacity: 0.8;}
     40% {opacity: 0.9;}
     50% {opacity: 1.0;}
     60% {opacity: 0.9;}
     70% {opacity: 0.8;}
     80% {opacity: 0.7;}
     90% {opacity: 0.4;}
    100% {opacity: 0.2;}
}